body{
    background-color: rebeccapurple;
}
.FontanaDiTreviSlika{
    width: 600px;
    height: 400px;
    position: absolute;
    left:100px;
    top: 100px;
}
.NaslovRim{
    font-family: 'Smooch', cursive;
    font-size: 28px;
    position: absolute;
    left:100px;
    top: 500px;
    margin: 0px;
    color: white;
}
.ForumRomanum{
    width: 600px;
    height: 400px;
    position: absolute;
    left:800px;
    top: 100px;
}
.NaslovForumRomanum
{
    font-family: 'Smooch', cursive;
    font-size: 28px;
    position: absolute;
    left:800px;
    top: 500px;
    margin: 0px;
    color: white;
}
